
{% block content %}
    {% if request.user.is_authenticated %}

        {% if request.user.role == 'admin' %}
        <h2>Siz adminsiz</h2>

        {% elif request.user.role == 'teacher' %}
        <h2>Siz o'qituvchisiz</h2>

        {% else %}
        <h2>Siz o'quvchisiz</h2>

        {% endif %}



        <h2>Xush kelibsiz {{ request.user.username }}!</h2>
        <button type="submit"><a href="{% url 'logout' %}">LogOut</a></button>
        <a href="{% url 'profile' %}">Profile</a>
    {% else %}
        <h2><i>Mehmon foydalanuvchi!</i></h2>
        <button type="submit"><a href="{% url 'register' %}">Register</a></button>
        <button type="submit"><a href="{% url 'login' %}">Login</a></button>
    {% endif %}

    <ul>
        <li><a href="{% url 'categories' %}">Categories</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'book_list' %}">Books</a></li>
    </ul>

    <h1>Products</h1>
    {% for p in products %}
        <h3>Name:<i>{{ p.name }}</i></h3>
        <p>Description:{{ p.description }}</p>
        <p>Price:{{ p.price }}</p>
        <p>Quantity:{{ p.quantity }}</p>
        <p>Created_at:{{ p.created_at }}</p>
    {% endfor%}

{% endblock %}